@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Playwrite+CU:wght@100..400&display=swap');
:root{
    --title-font: "Bodoni Moda", serif;
    --geral-font: "Lora", serif;
    --logo-font:"Playwrite CU", cursive;
    --bg: #FAF9F6;
    --bg2: #fff;
    --letra:#333333;
    --black:#444;
    --botao:#3A606E;
    --botao-hover:#88b9cafd;
    --border: .1rem solid rgba(0,0,0,.1);
    --border-hover: .1rem solid var(--black);
    --box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    list-style: none;
    text-decoration: none;
    outline: none;
    transition: all .2s linear;
    transition: width none;
    font-family: var(--geral-font);
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width: 1rem;
}
html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    background: var(--black);
}
.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    border-radius: .5rem;
    color: var(--bg2);
    background: var(--botao);
    font-size: 1.7rem;
    cursor: pointer;
    font-weight: 500;
}
.btn:hover{
    background: var(--botao-hover);
}

section{
    padding: 5rem 9%;
}
.heading{
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
    font-family: var(--title-font);
    
}
.heading::before{
    content: '';
    position: absolute;
    top: 50%; 
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: .01rem;
    background: rgba(0,0,0,.1);
    z-index: -1;
}
.heading span{
    font-size: 3rem;
    padding: .5rem 2rem;
    color: var(--letra);
    background: var(--bg2);
    border: var(--border);
}